[submodule "upstream"]
	path = upstream
	url = https://gitea.ibatv.xyz/LegacyConsole/MCLCE-MinecraftConsoles.git
[submodule "third_party/4JLibs"]
	path = third_party/4JLibs
	url = https://github.com/Patoke/4JLibs.git
[submodule "third_party/gameswf"]
	path = third_party/gameswf
	url = https://github.com/marmalade/gameswf.git
[submodule "third_party/spirv-cross"]
	path = third_party/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
